
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #235787;
  height: 100vh;
}

.App-display {
  display: flex;
  align-items: center;
  height: 40%;
  width: auto;
  background-color: aliceblue;
  border-radius: .2rem;
  -webkit-box-shadow: 16px 17px 32px -5px rgba(0,0,0,0.47);
  -moz-box-shadow: 16px 17px 32px -5px rgba(0,0,0,0.47);
  box-shadow: 16px 17px 32px -5px rgba(0,0,0,0.47);
}

.day {
  height: 100%;
  padding: 0 1.5rem 0 1.5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  border: .1rem grey solid; 
  text-align: center; 
  transition:all .2s ease-out;
}

.day:hover {
  transform: scale(.99);
  border: none;
  background: #235787;
  flex: 1.05;
}

.min-max {
  width: 100%;
  font-size: .8rem;
}

.nanoImg{
  height: 100%;
  width: 8%;
}

/*HEADER POPUP*/
.headerPopup{
  display: flex;
  align-content: center;
  flex-direction: column;
  width: 100%;
}

.button-and-date-headerpopup {
  display: flex;
  text-align: center;
  height: 1.8rem;
}

.buttonPopup{
  display: flex;
}

.datePopup {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #235787;
  font-size: 1.5rem;
  flex-grow: 3;
}

.arrow-icon {
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  margin-right: .5rem;
  margin-left: .5rem;
  border-radius: 10%;
}

.arrow-icon:hover {
  background: #235787;
}

.header-popup-p, .header-popup-p-fulldate {
  width: 9rem;
}

.arrow-icon-img{
  height: 1.5rem;
  width: 1.5rem;
}

.infos {
  display: flex;
  flex-direction: row;
  height: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.infos-p{
  text-align: center;
  flex: 1;
  background: honeydew;
  opacity: 70%;
}

button {
  background: #235787;
  color: #fff;
  border: none;
  border-radius: .2rem;
  font-weight: bolder;
  text-align: center;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
}

/*HOURS INFORMATIONS POPUP*/
.hour-info {
  height: 2.5rem;
  margin-bottom: .4rem;
  border-radius: .2rem;
  display: flex;
  justify-content: left;
  align-items: center;
  color: #fff;
  padding: .25rem;
  background: #235787;
  flex: 1;
  
}

.hour-info-each {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.informationPopup {
  width: 100%;
}

/*POPUP*/
.informationsDay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: .5rem;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
  visibility: hidden;
}

.popup_inner {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 10%;
  bottom: 10%;
  margin: auto;
  background: #fff;
  -webkit-box-shadow: 16px 17px 32px -5px rgba(0,0,0,0.47);
  -moz-box-shadow: 16px 17px 32px -5px rgba(0,0,0,0.47);
  box-shadow: 16px 17px 32px -5px rgba(0,0,0,0.47); 
}

img { 
  display: flex;
  height: 5rem;
  width: 5rem;
}

.day {
  cursor: pointer;
}

p, img{
  pointer-events: none;
}


@media (max-width: 815px) {
  .App-display {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    width: 60%;
  }

  .day {
    height: 50%;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center; 
    border: .05rem solid grey;
    transition: all .2s ease-out;
  }
  
  .day:hover {
    transform: scale(.99);
    border: none;
    background: #235787;
    flex: 1.05;
  }
}

@media (max-width: 550px) { 
  .App {
    height: 100%;
  }

  .header-popup-p-fulldate {
    visibility: hidden;
    width: 0;
  }

  .popup_inner {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
  }

  .infos-p {
    font-size: .8rem;
  }
  
  .arrow-icon {
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
    margin-right: .1rem;
    margin-left: .1rem;
    border-radius: 10%;
  }

  .nanoImg {
    visibility: hidden;
  }
}
